*{
    margin:0;
    padding:0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing:border-box;
}
/* Page Reset */

body{
    background-image: url("bg1.jpg");
    background-size: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/* Main Part Begins */
.container{
    padding: 40px;
    height: 400px;
    width: 280px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.212);
    backdrop-filter: blur(6px);
    display: flex;
    box-shadow: inset 2px 2px 10px;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    border-top: 2px solid rgba(255, 255, 255, 0.178);
    border-left: 2px solid rgba(255, 255, 255, 0.178);
    overflow: hidden;
}
h1{
    top: -0.5em;
    right: -0.17em;
    position: absolute;
    font-size: 10em;
    color: rgba(255, 255, 255, 0.192);
}
p{
    text-align: center;
    width: 200px;
    position: absolute;
    font-size: 1.2em;
    top: 4em;
    color: rgb(182, 182, 182);
}